* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  display: block;
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
  width: 100%;
}

.white {
  color: white;
}

.green {
  color: #9bc136;
}

.inline {
  display: inline;
}

.align-hor-ver {
  align-items: center;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}

svg {
  margin: 0 1vw 0 1vw;
  opacity: 0.6;
  transition: all 0.3s;
}

svg:hover {
  fill: #9bc136;
  opacity: 1;
}

.josefin {
  font-family: "Josefin Sans", sans-serif;
}

/* Font-sizes */

.font-xl {
  font-size: x-large;
}

.font-xxl {
  font-size: xx-large;
}

.font-jumbo {
  font-size: 6em;
}

.border-white {
  border: 1px solid white;
}

.low-brightness {
  filter: brightness(0.5);
}

.no-click {
  pointer-events: none;
}

.anim-medium {
  transition: all 0.5s;
}

.invisible {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.main-container {
  background-image: url(images/laptop.jpg);
  background-position-y: 30%;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
}

.language-container {
  display: flex;
  flex-direction: column;
  height: 14vh;
  justify-content: space-evenly;
  left: 60%;
  position: absolute;
}

.lang-link {
  height: 40px;
  width: 80px;
}

.main-wrapper {
  background-color: rgba(24, 29, 30, 0.75);
  height: 100vh;
  margin: auto;
  width: 40vw;
}

.header-line {
  background: #9bc136;
  border: none;
  height: 2px;
  margin: auto;
  margin-bottom: 2vh;
  width: 80%;
}

.footer-line {
  background: white;
  border: none;
  height: 1px;
  margin: auto;
  width: 80%;
}

.line-on-hover {
  background: white;
  border: none;
  height: 0px;
  margin: auto;
  transition: all 0.5s;
  width: 0;
}

a:hover .line-on-hover {
  height: 1px;
  width: 80%;
}

#heading {
  min-height: 14vh;
}

#text-section {
  display: inline-table;
  min-height: 37vh;
  padding: 0 10% 0 10%;
  text-align: center;
}

#picture-section {
  min-height: 17vh;
}

#profile-picture {
  background-image: url(images/robin.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.25em;
  margin: auto;
  min-height: 17vh;
  min-width: 90px;
  width: 6vw;
}

#resume {
  min-height: 11vh;
}

.button-resume {
  background-color: rgba(65, 105, 16, 0.5);
  border-radius: 0.25em;
  font-size: larger;
  max-height: 5vh;
  min-width: 100px;
  padding: 1vmin;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s;
  width: 15vw;
}

.button-resume:hover {
  background-color: rgba(65, 105, 16, 1);
  color: white;
  max-height: 7vh;
}

.button-resume::after {
  content: attr(data-content);
  font-size: small;
  opacity: 0;
  transition: all 0.5s;
}

.button-resume:hover::after {
  opacity: 1;
}

#footer-links {
  justify-content: space-around;
  min-height: 7vh;
}

#footer-links > a {
  padding: 1% 1% 0.5% 1%;
  transition: all 0.5s;
}

#footer-links > a:hover {
  color: #9bc136;
}

#footer-icons {
  display: flex;
  justify-content: center;
  margin: auto;
  min-height: 11vh;
  padding-top: 2vh;
}

#contact-form {
  min-height: 1vh;
}

/* MEDIA QUERIES */

/* WIDTH */

@media screen and (max-width: 1200px) {
  .font-xl {
    font-size: 1.4em;
  }
  .font-jumbo {
    font-size: 5em;
  }
  .main-wrapper {
    width: 70vw;
  }
  .main-container {
    background-position-x: 50%;
  }
  .language-container {
    left: 70%;
  }
  .button-resume {
    width: auto;
  }
}
@media screen and (max-width: 600px) {
  .button-resume {
    height: 4vh;
  }
  .button-resume:hover {
    height: 6vh;
  }
  .font-xl {
    font-size: 1.25em;
  }
  .font-xxl {
    font-size: 1.25em;
  }
  .main-wrapper {
    width: 80vw;
  }
  .lang-link, .lang-flag {
    width: 40px;
    height: 20px;
  }
}

@media screen and (max-width: 420px) {
  .font-xl {
    font-size: medium;
  }

}

@media screen and (max-width: 350px) {
  #download-resume {
    padding-top: 1vh;
  }
  #picture-section {
    min-height: 0;
  }
  #profile-picture {
    min-height: 0;
  }
}

/* HEIGHT */

@media screen and (max-height: 700px) {
  .button-resume {
    height: 6vh;
  }
  .button-resume:hover {
    min-height: 9vh;
  }
  .font-xl {
    font-size: 0.75em;
  }
}

/* ORIENTATION */ 

@media (orientation: landscape) and (max-height: 400px) {
  .font-jumbo {
    font-size: 1em;
  }
  #heading {
    min-height: 7vh;
  }
  .button-resume {
    min-height: 7vh;
  }
  .button-resume:hover {
    min-height: 12vh;
  }
  .font-xxl {
    font-size: 1em;
  }
  .main-wrapper {
    width: 95vw;
  }
  #picture-section {
    min-height: 0;
  }
  #profile-picture {
    min-height: 0;
  }  
}

@media (orientation: landscape) and (max-height: 700px) {
  .button-resume {
    max-height: fit-content;
  }
  .button-resume:hover {
    min-height: 9vh;
  }
  #picture-section {
    min-height: 0;
  }
  #profile-picture {
    min-height: 0;
  }  
}
